name: Deploy to Firebase Functions
on:
  push:
    branches:
      - main
    paths:
      - 'functions/**'

jobs:
  deploy_functions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: npm --prefix functions ci
      - name: Deploy Firebase Functions
        uses: w9jds/firebase-action@v2
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_WPBEST_WEBSITE }}
          projectId: wpbest-website
          args: deploy --only functions
